:root {
    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);

    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);
}

@font-face {
    font-family: "Figtree Extra Bold";
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
    font-family: "Figtree Medium";
    src: url(./assets/fonts/static/Figtree-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Yellow);
}

.container {
    background-color: var(--White);
    height: 500px;
    width: 375px;
    border: 2px solid var(--Gray950);
    border-radius: 15px;
    margin: 250px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px;
}

.img-container {
    width: 100%;
    margin-bottom: 10px;
}

.img-container img {
    border-radius: 15px;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.type-container {
    background-color: var(--Yellow);
    width: 30%;
    height: 100%;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 10px;
}

.type-container {
    font-family: "Figtree Extra Bold";
    font-size: 1rem;
}

.about-container p,
.course-desc-container p {
    font-family: "Figtree Medium";
}

.course-desc-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.course-desc-container h1 {
    font-family: "Figtree Extra Bold";
    margin-bottom: 10px;
}

.author-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}



.author-info-container p {

    font-family: "Figtree Extra Bold";
}